### SVC

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings(action = 'ignore')

df = pd.read_csv('Datasets/dataset_comp2.csv', sep = ';')
df

,corrente_cp11,corrente_cp12,corrente_cp13,corrente_cp31,vazaro_ar,pressao_ar,falha
0,96.900002,92.599998,97.000000,97.400002,21204.308594,516.897827,0
1,96.900002,92.500000,97.000000,97.400002,21073.390625,516.804749,0
2,96.900002,92.300003,96.900002,97.800003,21070.710938,517.828857,0
3,96.800003,92.500000,97.000000,97.400002,21106.867188,518.573669,0
4,97.000000,92.599998,97.199997,97.400002,21230.927734,518.759949,0
...,...,...,...,...,...,...,...
61357,99.699997,96.000000,111.000000,98.400002,20611.375000,592.868469,0
61358,99.500000,95.599998,110.699997,97.800003,20561.994141,594.916626,0
61359,99.599998,95.699997,110.900002,98.700005,20605.894531,594.637390,0
61360,99.400002,95.599998,110.699997,98.099998,20581.210938,595.568359,0
61361,99.500000,95.599998,110.699997,98.400002,20571.603516,595.940796,0

In [51]:
# Importando a biblioteca necesária para separação dos dados

from sklearn.model_selection import train_test_split
from sklearn import metrics

# Váriavel Y
y = df['falha']

# Váriavel X
X = df[['corrente_cp11','vazaro_ar', 'pressao_ar']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 2811)

print("Dados separados em treino e teste")

Dados separados em treino e teste

### Modelo SVC

In [52]:
from sklearn.svm import LinearSVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification

modelo = LinearSVC()
modelo.fit(X_train,y_train)
print("Modelo criado")

Modelo criado

In [62]:
y_pred = modelo.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

#### Teste manual

In [63]:
colunas = X_test.columns.to_list()
entrada = X_test[0:1]
linha = df.iloc[[0]]
linha

,corrente_cp11,corrente_cp12,corrente_cp13,corrente_cp31,vazaro_ar,pressao_ar,falha
0,96.900002,92.599998,97.0,97.400002,21204.308594,516.897827,0

In [64]:
linha_pred = modelo.predict(linha[colunas])
linha_pred

array([0], dtype=int64)

In [65]:
linha_2 = linha.copy()
linha_2['corrente_cp11'] = 120

In [66]:
print("Previsão Linha 2: {}".format(modelo.predict(linha_2[colunas])))

Previsão Linha 2: [0]

#### Metricas

In [67]:
acuracia = metrics.accuracy_score(y_test, y_pred)
print(acuracia)

0.980246913580247

In [68]:
precisao = metrics.precision_score(y_test, y_pred)
print(precisao)

0.0

In [69]:
recall_pred = metrics.recall_score(y_test, y_pred)
print(recall_pred)

0.0

In [70]:
matriz = metrics.confusion_matrix(y_test, y_pred)
print(matriz)

[[19850     0]
 [  400     0]]